* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

li {
  list-style: none;
  font-weight: 700;
}
li a {
  color: black;
  text-decoration: none;
}
li a.active {
  background: #B2E5FC;
}

header {
  margin: 50px 0 0;
  text-align: center;
}
header img {
  margin-bottom: 30px;
}
header li {
  display: inline-block;
}
header li a {
  display: block;
  padding: 15px 10px;
}
header li a:hover {
  background: #B2E5FC;
}

main {
  padding: 50px 100px;
}
main .cards-container {
  display: flex;
  flex-wrap: wrap;
}
main .cards-container .card {
  width: calc(100% / 3 - 10px);
  margin: 5px;
}
main .cards-container .card img {
  width: 100%;
  display: block;
}

footer {
  text-align: center;
}
