.container {
  position: relative;
  text-align: center;
  background-color: #B8DAE6;
  padding: 50px 150px;
}
.container img {
  width: 100%;
  display: block;
}
.container p {
  font-size: 25px;
  text-align: left;
  color: #093477;
}
.container ol {
  color: #093477;
  font-size: 20px;
}
.container span {
  color: #093477;
  font-size: 20px;
}
.container .fa-chevron-left {
  color: black;
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
}
.container .fa-chevron-right {
  color: black;
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
}
