header{
	margin: 50px 0 0;
	text-align: center;
	img{
		margin-bottom: 30px;
	}
	li{
		display: inline-block;
		a{
			display: block;
			padding: 15px 10px;
			&:hover{
				background: $backgroundNav;
			}
		}
	}
	.hamburger{
		font-size: 25px;
		color: $h2Color;
		padding: 10px;
		display: none;
	}
}

@media screen and(max-width: 768px){
	header{
		.nav-lg{
			display: none;
		}
		.hamburger{
			display: block;
		}
	}
}