main{	
	padding: $verticalPaddingMain $horizontalPaddingMain;
	background-image: url('../img/fondo-pag-speciali.jpg');
	background-position: bottom;
	background-size: cover;
	h2{
		margin-top: 10px;
		color: $h2Color;
	}
	.cards-container{
		display: flex;
		flex-wrap: wrap;
		.card{
			width: calc(100% / 3 - 10px);
			margin: 5px;
			position: relative;
			.layover{
				color: white;
				font-size: 20px;
				font-weight: 700;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: $layoverBackground;
				opacity: 0;
				transition: opacity 0.5s;
			}
			img{
				width: 100%;
				display: block;
			}
			&:hover .layover{
				opacity: 1;
				cursor: pointer;
			}
		}
	}
}

@media screen and(max-width: 768px){
	main{
		.cards-container{
			.card{
				width: calc(100% / 2 - 10px);
			}
		}
	}
}

@media screen and(max-width: 576px){
	main{
		padding: $verticalPaddingMain ($horizontalPaddingMain * 2);
		.cards-container{
			.card{
				width: 100%;
			}
		}
	}
}